body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #444452;
  font-family: $fonts;
  line-height: 1.5;
  width: 100%
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: $light-green;
  color: $white;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  color: $dark-grey;
  width: 100%;
}

a {
  @include transition;
  text-decoration: none;
  font-weight: 700;
  color: $green;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

strong {
  font-weight: 700;
  color: $black;
}
