.block {
  display: flex;
  justify-content: left;
  padding: 50px 170px;
  @include desktop {
    padding: 50px;
  }
  @include tablet {
    display: block;
    padding: 20px 50px;
  }
  @include mobile {
    padding: 10px;
  }
  h1 {
    @include tablet {
      font-size: 1.8rem;
    }
    img {
      width: auto;
      height: 40px;
      vertical-align: text-top;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: wave;
    }
  }
  &__title {
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: $green;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    @include thirteen {
      width: 170px;
    }
    @include desktop {
      margin-right: 50px;
    }
    @include tablet {
      text-align: left;
      width: auto;
      font-size: 0.8rem;
    }
  }
  &__content {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px;
    @include tablet {
      padding-top: 30px;
      padding-left: 0;
      font-size: 0.8rem;
    }
    @include mobile {
      padding-top: 10px;
    }
    p {
      margin-top: 0;
      margin-bottom: 25px;
    }
    .underline-link {
      position: relative;
      display: inline-block;
      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $black;
        content: '';
        opacity: 0;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        transform: translateY(-5px);
      }
      &:hover,
      &:focus {
        &:after {
          height: 2px;
          border-radius: 3px;
          opacity: 1;
          transform: translateY(-2px);
        }
      }
    }
  }
}
